<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WSURL</key>
	<string>ws://192.168.0.14:8123/api/websocket</string>
	<key>authToken</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI1ODYyMDczODFjNTQ0MjE5YmRkM2RlMGZlNDBhYzEyYiIsImlhdCI6MTcwNjEyODY3MiwiZXhwIjoyMDIxNDg4NjcyfQ.qql0VdsGHf95X2LXngWiINxUoziavDaoggJ5NpklzWQ</string>
	<key>RESTURL</key>
	<string>http://192.168.1.7:8123/api</string>
</dict>
</plist>
