<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeAssistantAccessToken</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0ZjM5ZjBmYmExM2U0MzUzYTVlZTE0Njk4ZmMwNTE2OSIsImlhdCI6MTcwNTI2NzU1NiwiZXhwIjoyMDIwNjI3NTU2fQ.s0243mSFg-p1flgJ8lXfcrhfUbPScrWgt3tTKeAJVMY</string>
	<key>HomeAssistantServerURL</key>
	<string>ws://192.168.1.7:8123/api/websocket</string>
</dict>
</plist>
